.container{
  /*
    background-color: slategray;
    height: 600px;
    width: 600px;
    float: left;
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    */
}
label,
input {
  /*
  display: block;
  font-size: 25px;
  margin: 10px;
  border-radius: 30px;
  */
}