/* Desarrollo Web 1 */
/* Nombre Práctica: Hola Mundo */
/* Autor/a: Jorge Alejandro Calderon Ruiz
/* Fecha de elaboración: 06/02/23*/
body{
    position: relative;
}
.mx{
    color: red;
    position: absolute;
    top: 400px;
    left: 100px;
    font-size: 160px;
    z-index: 7;
}
.us{
    color: blue;
    position: absolute;
    top: 100px;
    left: 100px;
    font-size: 45px;
    z-index: 4;
}
.jp{
    color: yellow;
    position: absolute;
    top: 200px;
    left: 1200px;
    font-size: 90px;
    z-index: 4;
}
.it{
    color: violet;
    position: absolute;
    top: 100px;
    left: 600px;
    font-size: 200px;
    z-index: 1;
}
.hw{
    color: green;
    position: absolute;
    top: 500px;
    left: 600px;
    font-size: 200px;
    z-index: 8;
}
.ru{
    color: orange;
    position: absolute;
    top: 400px;
    left: 180px;
    font-size: 180px;
    z-index: 5;

}
.ko{
    color: gray;
    position: absolute;
    top: 300px;
    left: 800px;
    font-size: 110px;
    z-index: 2;
}
.po{
    color: purple;
    position: absolute;
    top: 270px;
    left: 80px;
    font-size: 80px;
    z-index: 9;
}
.hi{
    color:slateblue;
    position: absolute;
    top: 50px;
    left: 60px;
    font-size: 120px;
    z-index: 6;
}
.he{
    color: darkseagreen;
    position: absolute;
    top: 100px;
    left: 300px;
    font-size: 230px;
    z-index: 3;
}
.sw{
    color: aqua;
    position: absolute;
    top: 500px;
    left: 1000px;
    font-size: 90px;
    z-index: 10;
}
